table td{
  padding-top: 4px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 7pt;
}
.table-titulo th {
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 8pt;
  text-align: center;
  padding-top: 4px;
}
.table-titulo{
  margin-top: 15px; 
}
.column-text {
  width: 35%;
}
.valor {
  text-align: right;
  padding-right: 2px;
}
.first-column{
  border-left: 1px solid black;
}
.first-row td{
  border-top: 1px solid black;
}
.total td{
  font-weight: bold;
  background-color: rgb(168, 168, 168);
}